.btnMenu:hover {
    transform: scale(1.1);
}

#btnBackFromRulesToApresentation,
#btnBackFromCreditsToApresentation,
#btnBackFromQuestionToBoardgame,
#btnBackFromBoardgameToMenu {
    position: fixed;
    top: 2.5vw;
    left: 2.5vw;
    width: 6vw;
    height: 6vw;
    cursor: pointer;    
    z-index: 10;
}

#btnNextCredit,
#btnNextRule,
#btnNextFromToBoardgame {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    width: 6vw;
    height: 6vw;
    cursor: pointer;
    animation: zoom-in-zoom-out 1s ease infinite;
    z-index: 10;
}

.button {
    position: fixed;
    width: 9vw;
    height: 9vw;    
    cursor: pointer;
    z-index: 20;
}

.fingerPressing {
    position: fixed;
    width: 3vw;    
    z-index: 30;
    animation: zoom-out-zoom-in 1s ease infinite; 
}

#btnPlay {
    top: 74vh;
    left: 26vw;
    animation: zoom-out-zoom-in 1s ease infinite; 
}

.optionButton {
    width: 10vw;
    position: fixed;
    z-index: 30;
    cursor: pointer;
}

#optionButton1 {
    top: 52vh;
    left: 30vw;
    cursor: pointer;
}

#optionButton2 {
    top: 52vh;
    left: 60vw;
    cursor: pointer;
}

@media screen and (max-width: 915px) {
    #btnPlay {
        top: 74vh;
        left: 28vw;
    }

    #option1 {
        font-size: 1rem;
        width: 23vw;

        top: 52vh;
        left: 60vw;
    }

    #option2 {
        font-size: 1rem;
        width: 23vw;

        top: 0vh;
        left: 0vw;
    }
}

#btnContinue {
    bottom: 3vh;
    left: 45vw;
    width: 11vw;    
    height: 11vw;
    animation: zoom-out-zoom-in 1s ease infinite; 
}

#btnCredits {
    bottom: 4vh;
    right: 29vw;
}

#btnRules {
    bottom: 4vh;
    left: 31vw;
}
