* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

:root {
    --primary-color: var(--primary-color);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--primary-color);
    background-position: center;
    height: 100vh;    
}

section {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    color: black;
}

.creative-common {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    width: 100vw;
    max-width: 400px;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    text-align: right;
}

#ballon {
    top: 0vw;
    left: 20vw;
    width: 62vw;
    position: fixed;    
}

.creator {
    width: 20vh;
}

#numberQuestion {
    font-size: 1.1rem;
    top: 5vw;
    left: 30vw;
    height: auto;
}

#questionText,
#questionExplanation {
    top: 5vw;
    left: 25vw;
    height: auto;
    width: 50vw;
}

#correctAnswer {
    top: 15vw;
    left: 25vw;
    width: 50vw;
    font-weight: bold;
}

#correctAnswerExplanation {
    font-size: 1.3rem;
    top: 50vh;
    left: 65vh;
    height: auto;
    width: 90vh;
}

#titleApresentationCredits {
    font-size: 3rem;
    top: 5vw;
    left: 7.5vw;
}

#apresentationCredits {
    font-size: 1.2rem;
    top: 11vw;
    left: 20vw;
    width: 50vw;
    text-align: justify;
}

#titleApresentation {
    font-size: 2.2rem;
    top: 10vw;
    left: 26.5vw;
}

#titleApresentationRules {
    font-size: 2.2rem;
    top: 4vw;
    left: 27vw;
}

p#questionText.apresentationText {
    width: 50vw;
    left: 26vw;
    top: 10vw;
}

.apresentationText {
    top: 18vw;
    left: 28vw;
    width: 45vw;

    position: fixed;
    color: black;
    font-size: 1.6rem;
    text-align: center; 
}

@media screen and (max-width: 915px) {
    .creative-common {
        position: fixed;
        bottom: 1vw;
        right: 1vw;
        width: 100vw;
        max-width: 300px;
        margin: auto;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        font-size: 0.55rem;
        text-align: right;
    }

    #titleApresentation {
        font-size: 1.3rem;
        top: 6vw;
        left: 26.5vw;
        font-weight: bold;
    }

    #titleApresentationRules {
        font-size: 1.3rem;
    }

    .apresentationText {
        font-size: 1.2rem;
        top: 11vw;
        width: 42vw;
    }

    #apresentationCredits {
        font-size: 1.2rem;
        top: 18vh;
        width: 85vh;
        left: 55vh;
    }

    #apresentationRules {
        top: 22vh;
        width: 80vh;
    }

    #questionText {
        font-size: 1.2rem;
    }    

    #titleApresentationCredits {
        font-size: 2rem;
    }

    #apresentationCredits {
        font-size: 0.7rem;
        top: 12vw;
        left: 20vw;
        width: 60vw;
        text-align: justify;
    }
   
}

#tooths {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    height: 25vh;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#superDentinhoCredits,
#superDentinhoQuestion,
#superDentinhoAnswer,
#superDentinhoRules,
#superDentinhoApresentacao {
    position: fixed;
    bottom: 0vw;
    left: 0vw;
    width: 25vw;
    animation: bounce 6s ease infinite;
}

#superDentinhoStart {
    position: fixed;
    top: 1vw;
    left: 42vw;
    height: 40vw;
    animation: bounce 6s ease infinite;
    z-index: 2;
}

#superDentinhoBoardGame {
    position: fixed;
    bottom: 4vw;
    left: 25vw;
    width: 10vw;
    animation: bounce 6s ease infinite;
}

/* SLOTS OF QUESTIONS - START */

.questionSlot {
    width: 10vw;
    position: fixed;
    z-index: 30;
    cursor: pointer;
}

.p1 {
    top: 74vh;
    left: 35.5vw;
}

.p1 {
    top: 74vh;
    left: 39.5vw;
}

.p2 {
    top: 75vh;
    left: 52vw;
}

.p3 {
    top: 76vh;
    left: 65vw;
}

.p4 {
    top: 70vh;
    left: 76vw;
}

.p5 {
    bottom: 28vh;
    left: 71vw;
}

.p6 {
    bottom: 27vh;
    left: 60vw;
}

.p7 {
    bottom: 22vh;
    left: 48vw;
}

.p8 {
    bottom: 23vh;
    left: 35vw;
}

.p9 {
    bottom: 26vh;
    left: 23vw;
}

.p10 {
    bottom: 40vh;
    left: 14vw;
}

.p11 {
    bottom: 51vh;
    left: 24vw;
}

.p12 {
    bottom: 50vh;
    left: 36vw;   
}

.p13 {
    bottom: 49vh;
    left: 47vw;  
}

.p14 {
    bottom: 48vh;
    left: 57.5vw;  
} 

.p15 {
    bottom: 48vh;
    left: 68vw;  
}

.p16 {
    bottom: 61vh;
    left: 76vw;  
}

.p17 {
    bottom: 76vh;
    left: 65vw; 
}

.p18 {
    bottom: 76vh;
    left: 53vw; 
}

.p19 {
    bottom: 76vh;
    left: 40.5vw; 
}

.p20 {
    bottom: 76vh;
    left: 28vw; 
}  

@media screen and (max-width: 600px) {
    #superDentinhoBoardGame {
        bottom: 5.5vw;
        left: 20vw;
    }

    .p1 {
        top: 77vh;
        left: 38.5vw;
    }
    
    .p2 {
        top: 78vh;
        left: 53.5vw;
    }
    
    .p3 {
        top: 76.5vh;
        left: 68.5vw;
    }
    
    .p4 {
        top: 71vh;
        left: 82.5vw;
    }
    
    .p5 {
        bottom: 29.5vh;
        left: 76vw;
    }
    
    .p6 {
        bottom: 27vh;
        left: 62.5vw;
    }
    
    .p7 {
        bottom: 25vh;
        left: 48vw;
    }
    
    .p8 {
        bottom: 25.5vh;
        left: 33.5vw;
    }
    
    .p9 {
        bottom: 28.5vh;
        left: 19vw;
    }
    
    .p10 {
        bottom: 42.5vh;
        left: 8vw;
    }
    
    .p11 {
        bottom: 53.5vh;
        left: 19.5vw;
    }
    
    .p12 {
        bottom: 52vh;
        left: 33.5vw;   
    }
    
    .p13 {
        bottom: 50vh;
        left: 47vw;  
    }
    
    .p14 {
        bottom: 49vh;
        left: 59.5vw;  
    } 
    
    .p15 {
        bottom: 50vh;
        left: 72.5vw;  
    }
    
    .p16 {
        bottom: 64vh;
        left: 83vw;  
    }
    
    .p17 {
        bottom: 79vh;
        left: 70vw; 
    }
    
    .p18 {
        bottom: 79vh;
        left: 55vw; 
    }
    
    .p19 {
        bottom: 78vh;
        left: 39.5vw; 
    }
    
    .p20 {
        bottom: 78vh;
        left: 24.5vw; 
    }  
}

/* SLOTS OF QUESTIONS - END */

/* ANIMATION START SUPER DENTINHO - START */

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(0px);
    }
}

.questionSlotActive {
    animation: zoom-in-zoom-out 1s ease infinite;
    cursor: pointer;
}

/* ANIMATION START SUPER DENTINHO - END */


/* SLOT OF QUESTION ANIMATION - START */

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes zoom-out-zoom-in {
    0% {
        transform: scale(1.2, 1.2);
    }

    50% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1.2, 1.2);
    }
}

.questionSlotActive {
    animation: zoom-in-zoom-out 1s ease infinite;
    cursor: pointer;
}

/* SLOT OF QUESTION ANIMATION - END */