* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #38B6FF;
    background-position: center;
    height: 100vh;
 
}

/* Class to change the background - start */

.start {
    background-image: url("../images/backgrounds/START.png");
    background-color: #38B6FF;
}

.apresentation {
    background-image: url("../images/backgrounds/APRESENTATION.png");
    background-color: #38B6FF;
    background-size: contain;
}

.background {
    background-image: url("../images/backgrounds/BACKGROUND.png");
    background-color: #38B6FF;
}

.boardgame {
    background-image: url("../images/backgrounds/BOARDGAME.png");
    background-size: contain;
    background-color: #38B6FF;    
}

/* QUESTION */

.question0 {
    background-image: url("../images/backgrounds/QUESTION0.png");
    background-color: #38B6FF;
}

.question1 {
    background-image: url("../images/backgrounds/QUESTION1.png");
    background-color: #38B6FF;
}

/* CORRECT ANSWER */

.correctanswer0 {
    background-image: url("../images/backgrounds/CORRECTANSWER0.png");
    background-color: #38B6FF;
}

.correctanswer1 {
    background-image: url("../images/backgrounds/CORRECTANSWER1.png");
    background-color: #38B6FF;
}

/* WRONG ANSWER */

.wronganswer0 {
    background-image: url("../images/backgrounds/WRONGANSWER0.png");
    background-color: #38B6FF;
}

.wronganswer1 {
    background-image: url("../images/backgrounds/WRONGANSWER1.png");
    background-color: #38B6FF;
}

/* CREDITS */

.creditsVanessa {
    background-image: url("../images/backgrounds/CREDITS\ VANESSA.png");
    background-size: contain;
    background-color: #38B6FF;
}

.creditsCarlos {
    background-image: url("../images/backgrounds/CREDITS\ CARLOS.png");
    background-size: contain;
    background-color: #38B6FF;
}

.creditsGustavo {
    background-image: url("../images/backgrounds/CREDITS\ GUSTAVO.png");
    background-size: contain;
    background-color: #38B6FF;
}

.rules1 {
    background-image: url("../images/backgrounds/RULES\ 1.png");
    background-size: contain;
    background-color: #38B6FF;
}

.rules2 {
    background-image: url("../images/backgrounds/RULES\ 2.png");
    background-size: contain;
    background-color: #38B6FF;
}

.winner {
    background-image: url("../images/backgrounds/WINNER.png");
    background-size: cover;
    background-color: #38B6FF;
}

/* Class to change the background - end */

section {
    display: flex;
    flex-direction: column;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.btnMenu:hover {
    transform: scale(1.1);
}

#title {
    position: fixed;
    top: 2.5vw;
    left: 5vw;
    width: 50vw;
}

#ballon {
    top: 0vw;
    left: 20vw;
    width: 62vw;
    position: fixed;
    /* animation: bounce 6s ease infinite;     */
}

.creator {
    width: 20vh;
}


#numberQuestion {
    font-size: 1.1rem;
    top: 5vw;
    left: 30vw;
    height: auto;
}

#questionText,
#questionExplanation {
    top: 5vw;
    left: 25vw;
    height: auto;
    width: 50vw;
}

#optionButton1 {
    top: 52vh;
    left: 28vw;
    cursor: pointer;
}

#optionButton2 {
    top: 52vh;
    left: 66vw;
    cursor: pointer;
}

#correctAnswer {
    top: 15vw;
    left: 25vw;
    width: 50vw;
    font-weight: bold;
}

#correctAnswerExplanation {
    font-size: 1.3rem;
    top: 50vh;
    left: 65vh;
    height: auto;
    width: 90vh;
}

#titleApresentationCredits {
    font-size: 3rem;
    top: 5vw;
    left: 7.5vw;
}

#apresentationCredits {
    font-size: 1.2rem;
    top: 11vw;
    left: 20vw;
    width: 50vw;
    text-align: justify;
}

#titleApresentation {
    font-size: 2.2rem;
    top: 10vw;
    left: 26.5vw;
}

#titleApresentationRules {
    font-size: 2.2rem;
    top: 4vw;
    left: 27vw;
}

p#questionText.apresentationText {
    width: 50vw;
    left: 26vw;
    top: 10vw;
}

.apresentationText {
    top: 18vw;
    left: 28vw;
    width: 45vw;

    position: fixed;
    color: black;
    font-size: 1.6rem;
    text-align: center;
    /* animation: bounce 6s ease infinite; */

}

@media screen and (max-width: 915px) {
    #titleApresentation {
        font-size: 1.3rem;
        top: 6vw;
        left: 26.5vw;
        font-weight: bold;
    }

    #titleApresentationRules {
        font-size: 1.3rem;
    }

    .apresentationText {
        font-size: 1.2rem;
        top: 11vw;
        width: 42vw;
    }

    #apresentationCredits {
        font-size: 1.2rem;
        top: 18vh;
        width: 85vh;
        left: 55vh;
    }

    #apresentationRules {
        top: 22vh;
        width: 80vh;
    }

    #questionText {
        font-size: 1.2rem;
    }

    #option1,
    #option2 {
        font-size: 1rem;
        width: 23vw;
    }

    #titleApresentationCredits {
        font-size: 2rem;
    }

    #apresentationCredits {
        font-size: 0.7rem;
        top: 12vw;
        left: 20vw;
        width: 60vw;
        text-align: justify;
    }
    img#btnPlay.btnMenu {
        top: 30vw;
        left: 26vw;
    }
    #title {
        width: 40vw;
        top: 3vw;
        left: 10vw;
    }
  
     
}


#tooths {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    height: 25vh;
}

#btnBackFromRulesToApresentation,
#btnBackFromCreditsToApresentation,
#btnBackFromQuestionToBoardgame,
#btnBackFromBoardgameToMenu {
    position: fixed;
    top: 2.5vw;
    left: 2.5vw;
    width: 8vw;
    height: 8vw;
    cursor: pointer;
    animation: zoom-in-zoom-out 1s ease infinite;
    z-index: 10;
}

#btnNextCredit,
#btnNextRule {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    animation: zoom-in-zoom-out 1s ease infinite;
    z-index: 10;
}

#btnNextFromToBoardgame {
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    width: 9vh;
    height: 9vh;
    cursor: pointer;
    animation: zoom-in-zoom-out 1s ease infinite;
    z-index: 10;
}

.btnMenu {
    position: fixed;
    width: 9vw;
    height: 9vw;
    animation: zoom-in-zoom-out 1s ease infinite;
    cursor: pointer;
    z-index: 20;
}

#btnPlay {
    top: 36vw;
    left: 25vw;
}

#btnContinue {
    top: 2vw;
    right: 5vw;
}

#btnCredits {
    top: 13vw;
    right: 5vw;
}

#btnRules {
    top: 24vw;
    right: 5vw;
}

#btnExit {
    top: 35vw;
    right: 5vw;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#superDentinhoCredits,
#superDentinhoQuestion,
#superDentinhoAnswer,
#superDentinhoRules,
#superDentinhoApresentacao {
    position: fixed;
    bottom: 0vw;
    left: 0vw;

    width: 25vw;
    animation: bounce 6s ease infinite;
}

#superDentinhoStart {
    position: fixed;
    top: 2.5vw;
    left: 55vw;

    height: 40vw;
    animation: bounce 6s ease infinite;
}

#superDentinhoBoardGame {
    position: fixed;
    bottom: 4vw;
    left: 27vw;

    width: 10vw;
    animation: bounce 6s ease infinite;
}


/* SLOTS OF QUESTIONS - START */

.questionSlot,
.optionButton {
    width: 10vw;
    position: fixed;
    z-index: 10;
}

.p1 {
    top: 74vh;
    left: 40vw;
}

.p2 {
    top: 75vh;
    left: 52vw;
}

.p3 {
    top: 76vh;
    left: 65vw;
}

.p4 {
    top: 70vh;
    left: 76vw;
}

.p5 {
    bottom: 28vh;
    left: 71vw;
}

.p6 {
    bottom: 27vh;
    left: 60vw;
}

.p7 {
    bottom: 22vh;
    left: 48vw;
}

.p8 {
    bottom: 23vh;
    left: 35vw;
}

.p9 {
    bottom: 26vh;
    left: 23vw;
}

.p10 {
    bottom: 40vh;
    left: 14vw;
}

.p11 {
    bottom: 51vh;
    left: 24vw;
}

.p12 {
    bottom: 50vh;
    left: 36vw;   
}

.p13 {
    bottom: 49vh;
    left: 47vw;  
}

.p14 {
    bottom: 48vh;
    left: 57.5vw;  
} 

.p15 {
    bottom: 48vh;
    left: 68vw;  
}

.p16 {
    bottom: 61vh;
    left: 77vw;  
}

.p17 {
    bottom: 76vh;
    left: 70vw; 
}

.p18 {
    bottom: 77vh;
    left: 58vw; 
}

.p19 {
    bottom: 77vh;
    left: 47vw; 
}

.p20 {
    bottom: 77vh;
    left: 36vw; 
}  

@media screen and (max-width: 915px) {

    #superDentinhoBoardGame {
        bottom: 5.5vw;
        left: 23vw;
    }

    .p1 {
        top: 77vh;
        left: 38.5vw;
    }
    
    .p2 {
        top: 78vh;
        left: 53.5vw;
    }
    
    .p3 {
        top: 76.5vh;
        left: 68.5vw;
    }
    
    .p4 {
        top: 71vh;
        left: 82.5vw;
    }
    
    .p5 {
        bottom: 30vh;
        left: 76vw;
    }
    
    .p6 {
        bottom: 29vh;
        left: 62.5vw;
    }
    
    .p7 {
        bottom: 25vh;
        left: 48vw;
    }
    
    .p8 {
        bottom: 25.5vh;
        left: 33.5vw;
    }
    
    .p9 {
        bottom: 28.5vh;
        left: 19vw;
    }
    
    .p10 {
        bottom: 42.5vh;
        left: 8vw;
    }
    
    .p11 {
        bottom: 53.5vh;
        left: 19.5vw;
    }
    
    .p12 {
        bottom: 52vh;
        left: 33.5vw;   
    }
    
    .p13 {
        bottom: 50vh;
        left: 47vw;  
    }
    
    .p14 {
        bottom: 49vh;
        left: 59.5vw;  
    } 
    
    .p15 {
        bottom: 50vh;
        left: 72.5vw;  
    }
    
    .p16 {
        bottom: 63.5vh;
        left: 82.5vw;  
    }
    
    .p17 {
        bottom: 79vh;
        left: 74.5vw; 
    }
    
    .p18 {
        bottom: 79vh;
        left: 60.5vw; 
    }
    
    .p19 {
        bottom: 78.5vh;
        left: 47vw; 
    }
    
    .p20 {
        bottom: 78.5vh;
        left: 34vw; 
    }  
}

/* SLOTS OF QUESTIONS - END */

/* ANIMATION START SUPER DENTINHO - START */

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(0px);
    }
}

.questionSlotActive {
    animation: zoom-in-zoom-out 1s ease infinite;
    cursor: pointer;
}

/* ANIMATION START SUPER DENTINHO - END */


/* SLOT OF QUESTION ANIMATION - START */

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

.questionSlotActive {
    animation: zoom-in-zoom-out 1s ease infinite;
    cursor: pointer;
}

/* SLOT OF QUESTION ANIMATION - END */