* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;        
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #38B6FF;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

/* Class to change the background - start */

.start {
    background-image: url("../images/backgrounds/START.png");
}

.apresentation {
    background-image: url("../images/backgrounds/APRESENTATION.png");
}

.background {
    background-image: url("../images/backgrounds/BACKGROUND.png");
}

.boardgame {
    background-image: url("../images/backgrounds/BOARDGAME.jpg");    
}

.question {
    background-image: url("../images/backgrounds/QUESTION.jpg");
}

.answer {
    background-image: url("../images/backgrounds/ANSWER.jpg");
}

.credits {
    background-image: url("../images/backgrounds/CREDITS.png");
    background-repeat: repeat;
}

.rules {
    background-image: url("../images/backgrounds/RULES.png");
}

/* Class to change the background - end */

section {
    display: flex;
    flex-direction: column;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.btnMenu:hover {
    transform: scale(1.1);
}

#title {
    position: fixed;
    top: 10vh;
    left: 5vh;
    width: 100vh;
}

#creatorImg {
    border-radius: 10px;
    position: fixed;
    width: 30vh;
    top: 20vh;
    left: 170vh;
    animation: bounce 6s ease infinite;
}

#ballon {
    top: 2vh;
    left: 42vh;
    height: 90vh;
    position: fixed;
    animation: bounce 6s ease infinite;
    z-index: -1;
}

.creator {
    width: 20vh;
}


#numberQuestion{
    font-size: 1.1rem;
    top: 10vh;
    left: 70vh;
    height: auto;
}

#question, #questionExplanation{
    font-size: 1.8rem;
    top: 20vh;
    left: 65vh;
    height: auto;
    width: 90vh;
}

#option1{
    font-size: 1.3rem;
    top: 50vh;
    width: 50vh;
    left: 50vh;
    height: auto;
    cursor: pointer;
}

#option2{
    font-size: 1.3rem;
    top: 50vh;
    width: 50vh;
    left: 110vh;
    height: auto;
    cursor: pointer;
    border-radius: 1px solid black;
}

#correctAnswer{
    font-size: 1.8rem;
    top: 40vh;
    left: 65vh;
    height: auto;
    width: 90vh;
}

#correctAnswerExplanation {
    font-size: 1.3rem;
    top: 50vh;
    left: 65vh;
    height: auto;
    width: 90vh;
}


#apresentationCredits {
    font-size: 1.5rem;
    top: 20vh;
}

.apresentationText {
    top: 28vh;
    left: 58vh;
    height: 85vh;
    width: 80vh;
    

    position: fixed;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    animation: bounce 6s ease infinite;
    font-family: 'Roboto', sans-serif;
}


#apresentationRule{
    left: 58vh;
    top: 28vh;
}

@media screen and (max-width: 915px) {
    .apresentationText {
        font-size: 1.2rem;
        top: 20vh; 
        width: 75vh;
    }
    #apresentationCredits {
        font-size: 1.2rem;
        top: 18vh;
        width: 85vh;
        left: 55vh;
    }
    #apresentationGame, #apresentationRules  {
        top: 22vh;
        width: 80vh;
    }
    #question{
        font-size: 1.4rem;
    }

  }
  

#tooths {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    height: 25vh;
}

#btnPlay {
    position: fixed;
    top: 75vh;
    left: 46vh;    
    width: 16vh;
    height: 16vh;
    animation: zoom-in-zoom-out 2s ease infinite;
    cursor: pointer;
}

#btnContinue {
    position: fixed;
    top: 5vh;
    right: 10vh;    
    width: 16vh;
    height: 16vh;
    animation: zoom-in-zoom-out 2s ease infinite;
    cursor: pointer;
}

#btnBackFromRulesToApresentation, #btnBackFromCreditsToApresentation, #btnBackFromQuestionToBoardgame{
    position: fixed;
    top: 5vh;
    left: 5vh;    
    width: 16vh;
    height: 16vh;
    cursor: pointer;
}

#btnNextRule, #btnNextCredit, #btnNextFromToBoardgame{
    position: fixed;
    top: 49vh;
    left: 142vh;    
    width: 12vh;
    height: 12vh;
    cursor: pointer;
    z-index: 2;
    animation: bounce 6s ease infinite;
}

#btnNextFromToBoardgame{
    top: 60vh;
    left: 150vh;    
}

#btnRules, #btnCredits {
    position: fixed;
    top: 45vh;
    right: 10vh;     
    width: 16vh;
    height: 16vh;
    animation: zoom-in-zoom-out 2s ease infinite;
    cursor: pointer;
}

#btnCredits {
    position: fixed;
    top: 25vh;
    right: 10vh;     
    width: 16vh;
    height: 16vh;
    animation: zoom-in-zoom-out 2s ease infinite;
    cursor: pointer;
}

/* #btnExit {
    position: fixed;
    top: 82vh;
    left: 52vh;    
    width: 16vh;
    height: 16vh;
    animation: zoom-in-zoom-out 2s ease infinite;
    cursor: pointer;
} */

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

#superDentinhoCredits, #superDentinhoQuestion, #superDentinhoAnswer, #superDentinhoRules, #superDentinhoApresentacao{
    position: fixed;
    bottom: 5vh;
    left: 5vh;

    width: 45vh;
    animation: bounce 6s ease infinite;
}

#superDentinhoStart {
    position: fixed;
    top: 10vh;
    left: 100vh;

    height: 80vh;
    animation: bounce 6s ease infinite;
}

#superDentinhoBoardGame{
    position: fixed;
    bottom: 5vh;
    left: 0vh;

    height: 25vh;
    animation: bounce 6s ease infinite;
}


/* SLOTS OF QUESTIONS - START */

.boardgame {
    width: 100%;
    height: 100%;
    position: relative;
}

.questionSlot {
    width: 20vh;
    position: fixed;
}

/* SLOTS OF QUESTIONS - END */

.p1 {
    bottom: 5vh;
    left: 35vh;
}

.p2 {
    bottom: 20vh;
    left: 65vh;
}

.p3 {
    bottom: 5vh;
    left: 95vh;
}

.p4 {
    bottom: 20vh;
    left: 125vh;
}

.p5 {
    bottom: 5vh;
    left: 155vh;
}

.p6 {
    bottom: 20vh;
    left: 185vh;
}

.p7 {
    bottom: 50vh;
    left: 185vh;
}

.p8 {
    bottom: 75vh;
    left: 155vh;
}

.p9 {
    bottom: 50vh;
    left: 125vh;
}

.p10 {
    bottom: 50vh;
    left: 125vh;
}

.p11 {
    bottom: 75vh;
    left: 35vh;
}

.p12 {
    bottom: 50vh;
    left: 65vh;
}

.p13 {
    bottom: 75vh;
    left: 95vh;
}

.p14 {
    bottom: 50vh;
    left: 125vh;
}

.p15 {
    bottom: 5vh;
    left: 155vh;
}

.p16 {
    bottom: 20vh;
    left: 185vh;
}

.p17 {
    bottom: 50vh;
    left: 185vh;
}

.p18 {
    bottom: 75vh;
    left: 155vh;
}

.p19 {
    bottom: 50vh;
    left: 125vh;
}

.p20 {
    bottom: 50vh;
    left: 125vh;
}

/* ANIMATION START SUPER DENTINHO - START */

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(0px);
    }
}

.questionSlotActive {
    animation: zoom-in-zoom-out 2s ease infinite;
    cursor: pointer;
}

/* ANIMATION START SUPER DENTINHO - END */


/* SLOT OF QUESTION ANIMATION - START */

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

.questionSlotActive {
    animation: zoom-in-zoom-out 2s ease infinite;
    cursor: pointer;
}

/* SLOT OF QUESTION ANIMATION - END */