* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.25s;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

/* Class to change the background - start */

.background {
    background-image: url("../images/background/BACKGROUND.png");
}

.boardgame {
    background-image: url("../images/background/BACKGROUND.png");
}

.questionLeft {
    background-image: url("../images/background/QUESTIONLEFT.jpg");
}

.answer {
    background-image: url("../images/background/ANSWER.jpg");
}

.credits {
    background-image: url("../images/background/CREDITS.jpg");
}

/* Class to change the background - end */

section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

h1.gameTitle {
    text-align: center;
    color: white;
    font-size: 2vw;
}

.title {
    margin-bottom: 50px;
}

.btnMenu {
    width: 15vw;
    height: 15vw;
    cursor: pointer;
}

.btnMenu:hover {
    transform: scale(1.1);
}

#btnPlay {
    width: 22vw;
    height: 22vw;
}

#superDentinho {
    position: fixed;
    width: 10%;
}

.p1 {
    top: 700px;
    left: 25px;
}

.p2 {
    top: 5%;
    left: 5.5%;
}

/* SLOTS OF QUESTIONS - START */

.boardgame{
    width: 100%;
    height: 100%;
    position: relative;
}

.questionSlot{
    width: 10%;
    position: absolute;
}

img#q1{
    top: 700px;
    left: 300px;
}

img#q2{
    top: 600px;
    left: 600px;
}

img#q3{
    top: 700px;
    left: 900px;
}

img#q4{
    top: 600px;
    left: 1200px;
}

img#q5{
    top: 700px;
    left: 1500px;
}


/* SLOTS OF QUESTIONS - END */

/* SLOT OF QUESTION ANIMATION - START */

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }

.questionSlotActive{
    animation: zoom-in-zoom-out 2s ease infinite;
    cursor: pointer;
}

/* SLOT OF QUESTION ANIMATION - END */